*~
*.a
*.o
*.ini
popcorn
*.min.js
*user
*.moc
*kate-swp
*autosave
*Release
*Debug
moc*
*.pro.user*
qrc_*
Makefile
*.log
ui_optionsdialog.h
*.zip
.DS_Store
Info.plist
*.app
*.dmg
*.icns
*.xcodeproj
*.pdf
*.zip
*.db
*.sqlite
*.txt
*.stash
*.dmg
doc

debian/*
certs/*
zip_stage
*.sh
*.xcf
*.old
assets
adminscripts
plugins
